.searchBoxContainer {
    display: flex;
    border: 1px solid #898989;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;

    input {
        border: none;
        border-radius: 5px;
        width: 250px;
        font-size: 14px;

        &:focus-visible {
            outline: none;
        }
    }
}